<!doctype html>
<title>Aanmeldr</title>
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
<div class=page>
  <h1>Aanmeldr</h1>
  <div class=metanav>
  {% if not session.logged_in %}
    <a href="{{ url_for('login') }}">log in</a>
  {% else %}
    <a href="{{ url_for('logout') }}">log out</a>
  {% endif %}
  </div>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      <p class=flashes>
      {% for category, message in messages %}
        <p class="{{ category }}">{{ message }}</li>
      {% endfor %}
      </p>
    {% endif %}
  {% endwith %}
  {% block body %}{% endblock %}
  <p>
</div>
<div class =page>
Aanmeldr <a href="http://github.com/tomkooij/Aanmeldr">source code</a> is available on <a href="http://www.github.com/">Github</a>.
</div>
