{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}

    DEBUG: huidige keuze is: {{ session.keuze, workshops[session.keuze] }}
    <form id="keuze" action="{{ url_for('kies_workshop') }}" method=post class=kies-workshop>
    <dl>
      <dt>Kies je workshop:
      {% for workshop in workshops %}
      <dd><input type="radio" value={{ workshop[0] }} name="keuze"  /> {{ workshop[1] }} (nog {{ workshop[2] }} plaatsen) <br />
      {% endfor %}
    <dd>
    <dd><input type=submit value="Kies!">
    </dl>
    </form>
  {% endif %}

{% endblock %}
