{% extends "layout.html" %}
{% block body %}
  {% if session.logged_in %}

    <form id="keuze" action="{{ url_for('kies_workshop') }}" method=post>
    <dl>
      {% if (session.keuze > 0) %}
        Je bent ingeschreven. Je kunt je keuze wijzigen:
      {% else %}
        Je bent nog niet ingeschreven. Kies je workshop:
      {% endif %}

      {% for workshop in workshops %}
      <dd><input type="radio" value={{ workshop[0] }} class=checkbox name="keuze"
        {% if workshop[0]==session.keuze %}
          checked
        {% endif %}

        {% if (workshop[2] < 1) %}
          disabled /> <i> (VOL) </i>
        {% else %}
          />
        {% endif %}

        {{ workshop[1] }} (nog {{ workshop[2] }} plaatsen)
        {% if ((workshop[0]==session.keuze) and (session.keuze > 0)) %}
           <b> (huidige keuze) </b>
        {% endif %}
        </br>
      {% endfor %}
    <dd>
    {% if (session.keuze > 0) %}
      <dd><input type=submit value="Verander mijn inschrijving!" class="button blue">
    {% else %}
      <dd><input type=submit value="Schrijf me in!" class="button green">
    {% endif %}
    </dl>
    </form>
  {% endif %}

{% endblock %}
